AZURE_SPEECH_KEY=PASTE_YOUR_AZURE_KEY_HERE
AZURE_SPEECH_REGION=PASTE_YOUR_AZURE_REGION_HERE
AZURE_VOICE_NAME=en-US-JennyNeural

MQTT_HOST=localhost
MQTT_PORT=1883
PLANT_ID=plant1

UPDATE_INTERVAL_SECONDS=60