Adafruit-Blinka==9.1.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-as7341==1.2.27
adafruit-circuitpython-busdevice==5.2.17
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-pixelbuf==2.0.12
adafruit-circuitpython-register==1.11.3
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-seesaw==1.18.2
adafruit-circuitpython-sht31d==2.3.31
adafruit-circuitpython-typing==1.12.3
adafruit-circuitpython-veml7700==2.2.2
Adafruit-PlatformDetect==3.88.0
Adafruit-PureIO==1.1.11
annotated-types==0.7.0
anyio==4.14.0
azure-cognitiveservices-speech==1.50.0
azure-core==1.41.0
binho-host-adapter==0.1.6
blinker==1.9.0
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.2
distro==1.9.0
Flask==3.1.3
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.16
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.15.0
MarkupSafe==3.0.3
openai==2.43.0
paho-mqtt==2.1.0
pydantic==2.13.4
pydantic_core==2.46.4
pyftdi==0.57.1
pyserial==3.5
python-dotenv==1.2.2
pyusb==1.3.1
requests==2.34.2
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
sniffio==1.3.1
sysv_ipc==1.2.0
tqdm==4.68.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
Werkzeug==3.1.8
